In [3]:
# SQL Alchemy
from sqlalchemy import create_engine
from config import username, password
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Create Engine
#engine = create_engine('postgresql://localhost:5432/EmployeeSQL')
#OR
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/EmployeeSQL')
connection = engine.connect()

In [5]:
# Read in employee file
employee = pd.read_sql('Select * From employees', connection)

In [6]:
employee

,emp_no,emp_title_id,birth_date,first_name,last_name,sex,hire_date
0,473302,s0001,1953-07-25,Hideyuki,Zallocco,M,1990-04-28
1,475053,e0002,1954-11-18,Byong,Delgrande,F,1991-09-07
2,57444,e0002,1958-01-30,Berry,Babb,F,1992-03-21
3,421786,s0001,1957-09-28,Xiong,Verhoeff,M,1987-11-26
4,282238,e0003,1952-10-28,Abdelkader,Baumann,F,1991-01-18
...,...,...,...,...,...,...,...
300019,464231,s0001,1958-08-14,Constantino,Eastman,M,1988-10-28
300020,255832,e0002,1955-05-08,Yuping,Dayang,F,1995-02-26
300021,76671,s0001,1959-06-09,Ortrud,Plessier,M,1988-02-24
300022,264920,s0001,1959-09-22,Percy,Samarati,F,1994-09-08
300023,464503,s0002,1964-05-31,Arvind,Slobodova,M,1987-11-23

In [ ]:
# Read in salary file
salary = pd.read_sql('Select * From salaries', connection)

In [ ]:
salary

In [ ]:
# merge employee and salary tables
Emp_Salary = pd.merge(employee, salary, how="left", "emp_no")
Emp_Salary

employee

In [3]:
# Create a histogram to visualize the most common salary ranges for employees

    
    matplotlib.pyplot.hist
    hist = df.hist(bins=5)

(1, 'Vanilla', 100, 1)
(2, 'Chocolate', 150, 1.25)
(3, 'Strawberry', 95, 1.25)
(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)
(25, 'testflavor', 5, 0.25)

In [ ]:
# merge in employee titles
Emp_Merge = pd.merge(Emp_Salary, titles, how="left", "title_no")
Emp_Merge

In [4]:
# Create a bar chart of average salary by title.

(2, 'Chocolate', 150, 1.25)
(3, 'Strawberry', 95, 1.25)
(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)

In [ ]:
# does the epilogue mean anything???
# Evidence in hand, you march into your boss's office and present the visualization. With a sly grin, your boss thanks you for your work. 
# On your way out of the office, you hear the words, "Search your ID number." You look down at your badge to see that your employee ID number is 499942.